@import '../../utilities/scss/utilities';

.overlay {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 33.33%;
  height: 100%;
  background-color: var(--#{$namespace}-color-primary);

  &_second {
    left: 33.33%;
  }

  &_third {
    left: 66.66%;
  }
}
